// Here you can easily change your sites's color scheme.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works.
// If you need a handy color picker try http://hslpicker.com

@import "../base/_solarized";

$page-bg: transparent;

$header-bg: $base03;
$title-color: $solar-orange;
$subtitle-color: $base1;

$nav-bg: $base02;
$nav-bg-front: $base02;
$nav-bg-back: $base02;
$nav-color: $base2;
$nav-border: transparent;
$nav-border-top: $base01;
$nav-border-bottom: transparent;
$nav-border-left: transparent;
$nav-border-right: transparent;

$article-border: $base0;

$text-color: $base02;
$text-color-light: $solar-orange;
$type-border: $base00;

$link-color: $solar-cyan;
$link-color-hover: $link-color;
$link-color-visited: $solar-cyan;
$link-color-active: $solar-red;

$sidebar-bg: $base2;
$sidebar-link-color: $link-color !default;
$sidebar-link-color-hover: $link-color-hover !default;
$sidebar-link-color-active: $link-color-active !default;
$sidebar-color: change-color(mix($text-color, $sidebar-bg, 80), $hue: hue($sidebar-bg), $saturation: saturation($sidebar-bg)/2) !default;
$sidebar-border: desaturate(darken($sidebar-bg, 7), 10) !default;
$sidebar-border-hover: darken($sidebar-bg, 7) !default;
$sidebar-link-color-subdued: lighten($sidebar-color, 20) !default;
$sidebar-link-color-subdued-hover: $sidebar-link-color-hover !default;
$twitter-status-link: lighten($sidebar-link-color-subdued, 15) !default;

$footer-bg: $nav-bg;
$footer-bg-front: $nav-bg-front;
$footer-bg-back: $nav-bg-back;
$footer-color: $base00;
$footer-color-hover: $footer-color;
$footer-border-top: transparent;
$footer-border-bottom: transparent;
$footer-link-color: $link-color;
$footer-link-color-hover: $link-color-hover;

$page-border-bottom: transparent;
