// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

body {
  > header {
    font-size: 1em !important;
    padding: .5em !important;
  }
  > nav {
    form {
      .search {
        background-color: $base0;
        color: $base03;
        @include box-shadow($base01 0 0 4px, $base01 0 0 3px inset);
        &:focus {
          color: $base00;
          border-color: $base01;
          @include box-shadow($base1 0 0 4px, $base1 0 0 3px inset);
          background-color: $base3;
          outline: none;
        }
      }
    }
  }
}

h1 {
  font-size: 1.5em !important;
}

blockquote {
  font-size: 1em;
  padding-left: 1em;
  font-style: normal;
  small {
    :before {
      content: "— ";
    }
    display: block;
  }
}

a {
  text-shadow: none !important;
  &:hover { text-decoration: underline; }
  &:active { text-decoration: underline; }
}

#content {
  > div {
    padding-top: 0;
    padding-bottom: 0;
  }
  article {
    padding-top: 2em;
    margin-bottom: 1em !important;
    header {
      background: none transparent;
      margin-bottom: 1em;
      padding-bottom: 0;
    }
    > footer {
      margin-top: 0;
      padding-bottom: 0;
    }
  }
  .hentry {
    ul, ol {
      margin-left: 1.3em;
      li {
        p:last-child {
          margin-bottom: 0;
        }
      }
    }
    table.border {
      tr, td {
        border: 1px solid $base1;
      }
      th {
        background: $sidebar-bg;
      }
    }
    table.padded {
      th, td {
        padding:.25em;
      }
    }
    .entry-content {
      table {
        border-collapse: collapse;
        border-spacing: 0;
        font: inherit;
        tr {
          border-top: 1px solid $base1;
        }
        tbody {
          tr:nth-child(2n) {
            background-color: $base3;
          }
        }
        th, td {
          border: 1px solid $base1;
          padding: 6px 13px;
        }
        th {
          font-weight: bold;
          background-color: $sidebar-bg;
        }
        td {
          img {
            border: none;
            box-shadow: none;
          }
        }
      }
      dl {
        dt {
          font-weight: bold;
        }
        dd {
          margin: 0 0 0 1.6em;
          padding: 0 0 .5em 0;
        }
      }
      .highlight {
        table {
          td {
            border:0;
            padding:0;
          }
        }
      }
    }
  }
  #comments {
    header {
      h2 {
        margin-bottom:.25em;
        color: $base00;
      }
      p {
        margin: 0 0 1em;
      }
    }
    div.comment {
      margin: 0 3em 1em 3em;
      border: 1px solid #E6E0CE;
      .comment-header {
        background: $sidebar-bg;
        border-bottom: 1px solid #E6E0CE;
        padding: 3px;
        .comment-gravatar {
          border: 1px solid #E6E0CE;
          vertical-align: text-bottom;
        }
        a {
          color: inherit;
          @include transition(color .5s);
        }
        &:hover a {
          color: $sidebar-link-color;
          &:hover { color: $sidebar-link-color-hover; }
        }
        a.comment-user {
          margin-right: 2em;
        }
      }
      .comment-body {
        margin-left: 1em;
        p {
          margin-bottom: 1em;
        }
        p:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

$home-link-width: 200px !default;
#home {
  .front-matter {
    float: left;
    width: 100%;
    div {
      margin-right: $home-link-width;
      padding-right: 2em;
      @media only screen and (max-width: 480px) {
        margin-right: 0;
      }
    }
  }
  .links {
    float: left;
    width: $home-link-width;
    margin-left: 0px - $home-link-width;
    @media only screen and (max-width: 480px) {
      width: 100%;
      margin-left: 0;
    }
    @extend .sans;
    font-size: .8em;
    h2 {
      font-size: 1.2em;
      margin-bottom: .25em;
    }
    dl {
      dt {
      }
      dd {
        font-size: .8em;
        color: $text-color-light;
        line-height: 1.1em;
      }
    }
    ul {
      margin-bottom: 0.5em;
      margin-left: 0;
      li {
        list-style: circle inside none;
        margin: 0;
        padding: 0;
        color: $base00;
        line-height: 1.5em;
        span {
          color: $text-color;
        }
      }
    }
    a {
      color: inherit;
      @include transition(color .5s);
    }
    &:hover a {
      color: $sidebar-link-color;
      &:hover { color: $sidebar-link-color-hover; }
    }
  }
}

figure.code figcaption {
  background: $base2;
}

aside.sidebar {
  clear:both;
  section {
    h1 {
      margin:.75em 0 0;
    }
  }
}

#about-me {
  #gravitar {
    float: left;
    margin-right: .5em;
  }
  ul {
    clear: both;
    padding-left: .5em;
    li {
      border: none;
      box-shadow: none;
      padding: .5em 0 0 0;
    }
  }
}

#license {
  clear: both;
  display: block;
  font-size: smaller;
  img {
    border: 0;
    margin-right: .25em;
    vertical-align: text-bottom;
  }
}
